{% extends 'dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <div id="content-wrapper">
                <div class="container-fluid">

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            User : {{ object.username }}
                        </li>
                    </ol>

                    <!-- User details card -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-user text-warning"></i> Details of User
                        </div>
                        <div class="card-body">

                            <!-- Messages -->
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}

                            <!-- User info -->
                            <ul class="list-group mb-3">
                                <li class="list-group-item"><strong>Username:</strong> {{ object.username }}</li>
                                <li class="list-group-item"><strong>Firstname:</strong> {{ object.first_name }}</li>
                                <li class="list-group-item"><strong>Lastname:</strong> {{ object.last_name }}</li>
                                <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
                            </ul>

                            <!-- Back button -->
                            <div class="text-end">
                                <a href="{% url 'aluser' %}" class="btn btn-success">
                                    <i class="fas fa-arrow-left"></i> Back
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
